<div class="container">
	<div class="jumbotron jumbotron-login">
		<form ng-submit="login()">  
		  <div class="form-group">
			<label for="userid">User Id</label>
			<input type="email" ng-model="useEmail" class="form-control" id="userid" placeholder="User Id" required>
		  </div>
		  <div class="form-group">
			<label for="userpassword">Password</label>
			<input type="password" ng-model="userPswd" class="form-control" id="userpassword" placeholder="Password" required>
		  </div>
		  <div class="checkbox">
			<label>
			  <input type="checkbox"> Remember me
			</label>
		  </div>
		  <button type="submit" class="btn btn-success float-right">Login</button>
		</form>  
	</div>
</div>